POSTGRES_USER=postgres
POSTGRES_PASSWORD=songbridge
POSTGRES_DB=songbridge_db

API_PORT=1337
NODE_ENV=development
DB_HOST=songbridge
DB_PORT=5432
DB_USER=songbridge
DB_PASSWORD=songbridge
DB_NAME=songbridge_db
NEXT_PUBLIC_API_URL=http://api:1337/api
NEXT_API_URL=http://localhost:1337/api
NEXT_API_TOKEN=
CLIENT_URL=http://localhost:3000