@import "../mixins";

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  border: none;
  text-align: center;
  padding: 0.5rem 1rem;
  font-size: 14px;
  background-color: unset;

  @include desktop {
    padding: 0.75rem 1.5rem;
    font-size: 16px;
  }

  &--primary {
    &.button--filled {
      background: var(--primary);
      color: white;

      &:hover {
        background: var(--primary-light);
      }
    }

    &.button--outlined {
      color: white;
      border-color: var(--primary);

      &:hover {
        background: var(--primary-light);
      }
    }

    &.button--flat {
      color: var(--primary);

      &:hover {
        color: var(--primary-light);
      }
    }
  }

  &--accent {
    &.button--filled {
      background: var(--accent);
      color: var(--button-accent-text);

      &:hover {
        background: var(--accent-light);
      }
    }

    &.button--outlined {
      border-color: var(--accent);

      &:hover {
        background: var(--accent-light);
      }
    }

    &.button--flat {
      color: var(--accent-text);

      &:hover {
        color: var(--accent-light);
      }
    }
  }

  &--default {
    &.button--filled {
      background: var(--button);
      color: var(--button-text);

      &:hover {
        background: var(--button-hover);
      }
    }

    &.button--outlined {
      border-color: var(--button);

      &:hover {
        background: var(--button-hover);
      }
    }

    &.button--flat {
      color: var(--button-text);

      &:hover {
        opacity: 0.8;
      }
    }
  }

  &--filled {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    &:hover {
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    }
  }

  &:disabled, &[disabled], &.disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}